<nav class="navbar navbar-light">
  <a class="nav-link" routerLink="/">Về trang chủ</a>
  <a class="nav-link" routerLink="/awesome-list">Awesome list</a>
</nav>
<div class="container">
  <h2>Awesome list</h2>

  <table class="table table-bordered">
    <tr>
      <td>
        Tag
      </td>
      <td>
        Url
      </td>
      <td>
        Description
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
    <tr *ngFor="let awesome of awesomes; index as i">
      <td>
        {{awesome.tag}}
      </td>
      <td>
        {{awesome.url}}
      </td>
      <td>
        {{awesome.descriptions}}
      </td>
      <td>
        <a class="btn btn-info" [routerLink]="['/awesome', awesome.id, 'edit']">Edit</a>
      </td>
      <td>
        <button class="btn btn-info" (click)="deleteAwesome(i)">Delete</button>
      </td>
    </tr>
  </table>

  <a routerLink="/create-awesome">Create awesome</a>

</div>


